@model LoginModel
@{
    Layout = "_LayoutDeslogado";
}

<section>
    <form action="">
        <div class="form-box">
            <h2>Login</h2>

            <div class="form-outline mb-4">
                <ion-icon name="mail-outline"></ion-icon>
                <input type="email" aria-autocomplete="list" required />
                <label class="form-label" for="">Email</label>
            </div>

            <div class="form-outline mb-4">
                <ion-icon name="lock-closed-outline"></ion-icon>
                <input type="password" required />
                <label class="form-label" for="">Password</label>
            </div>
            <div class="forget row mb-4">
                <div class="col d-flex justify-content-center">
                    <div class="form-check">
                        <input class="" type="checkbox" value="" id="" checked />
                        <label class="" for=""> Lembre de mim </label>
                    </div>
                </div>

                <div class="col">
                    <a href="#!">Esqueceu sua senha?</a>
                </div>
            </div>

            <button type="button" class="">Log in</button>

            <div class="register">
                <p>Não é um membro? <a href="#!">Registrar</a></p>

            </div>
        </div>
    </form>
</section>

